* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: green;
  position: relative;
}

.car {
  width: 100px;
  position: absolute;
  transition: transform 0.3s ease;
  left: 0px;
  top: 0px;
}

.left {
  transform: rotate(180deg);
}
.right {
  transform: rotate(0deg);
}
.up {
  transform: rotate(-90deg);
}
.down {
  transform: rotate(90deg);
}
